@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

body {
  margin: 0;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid #0000;
  border-right-color: #ffa50097;
  position: relative;
  animation: l24 1s infinite linear;
}

.loader:before,
.loader:after {
  content: '';
  position: absolute;
  inset: -8px;
  border-radius: 50%;
  border: inherit;
  animation: inherit;
  animation-duration: 2s;
}

.loader:after {
  animation-duration: 4s;
}

@keyframes l24 {
  100% {
    transform: rotate(1turn);
  }
}
/* Style PhoneInput for stacked layout */
.custom-stacked-phone-input {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Flag container */
.custom-stacked-phone-input .PhoneInputCountry {
  position: relative;
  margin-bottom: 6px;
  align-self: flex-start;
}

/* Phone number input field */
.custom-stacked-phone-input .PhoneInputInput {
  padding-left: 10px;
  height: 36px;
  font-size: 14px;
  border: 1px solid #d1d5db; /* tailwind border-gray-300 */
  border-radius: 6px;
}
/* Decrease the flag icon size */
.custom-stacked-phone-input .PhoneInputCountryIcon {
  width: 18px;
  height: 12px;
}
